:root {
    --Very_Dark_Grayish_Blue: hsl(217, 19%, 35%);
    --Desaturated_Dark_Blue: hsl(214, 17%, 51%);
    --Grayish_Blue: hsl(212, 23%, 69%);
    --Light_Grayish_Blue: hsl(210, 46%, 95%);

    font-size: 13px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    font-family: "Manrope", serif;
    color: var(--Very_Dark_Grayish_Blue);
    font-weight: 500;
}

p {
    margin: 0;
}

.main {
    max-width: 672px;
    margin: auto;
    display: flex;
    gap: 20px;
    background-color:var(--Light_Grayish_Blue);
    border-radius: 15px;
}

.drawers {
    background-image: url("./images/drawers.jpg");
    background-size: cover;
    flex: 1;
    min-height: 200px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    flex: 1;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
}

.description {
    color: var(--Desaturated_Dark_Blue);
    font-size: 13px;
}

.card-footer {
    display: flex;
    gap: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 32px;
    object-fit: contain;
}

.author {
    display: flex;
    flex-direction: column;
}

.date {
    color: var(--Desaturated_Dark_Blue);
}

.share-container {
    position: relative;
    margin-left: auto;
    padding: 10px;
}

#share {
    align-self: center;
    background-color: aliceblue;
    padding: 7px;
    border-radius: 50%;
    border: none;
}

#share:active {
    background-color:darkgray;
    color: aliceblue;
}

.share-icon {
    width: 15px;
    height: 10px;
}

.social {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-54%);
    background-color: var(--Very_Dark_Grayish_Blue);
    border-radius: 10px;
    padding: 15px 25px;
    visibility: hidden;
    align-items: center;
    opacity: 0;
}

.active {
    display: flex;
    opacity: 1;
    visibility: visible;
    transition: ease-in-out 0.3s;
}

.social::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    border-left: 10px solid transparent; /* Left side of the arrow */
    border-right: 10px solid transparent; /* Right side of the arrow */
    border-top: 10px solid var(--Very_Dark_Grayish_Blue); /* Top of the arrow (same color as the div) */
}

.social p {
    color: var(--Grayish_Blue);
    letter-spacing: 2px;
    margin-right: 10px;
}

.social img {
    margin: 0 5px; /* Space between icons */
}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        width: 90vw;
    }
}